body{
    background-color: beige;
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15%;
        font-style: normal;
    }
    button{
        position: relative;
        font-family: Impact, sans-serif;
        left: 45%;
        background-color: rgb(247, 121, 121);
    }
    p{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
    }
}